/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 9, 2015, 10:46:15 AM
    Author     : me
*/

.heading {
  font: normal normal bold 18px/1 "asul", Times, serif;
  color: rgba(193,98,9,1);
}
